<!doctype html>
<html lang="en">
  <head>
  </head>
  <body>
<main>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Servicios Inmobiliarios para Oficinas</h2>
        <p class="lead">Además de ayudarte en la búsqueda de tu oficina, en CBRE trabajamos para crear los mejores lugares para trabajar. Espacios eficientes, sostenibles, saludables y productivos; espacios de trabajo en los que los profesionales pueden dar lo mejor de sí mismos.</p>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Estrategia de Workplace</h2>
        <p class="lead">Te ayudamos a optimizar y distribuir tu espacio. Creamos oficinas que atraigan y retengan al mejor talento.</p>
      </div>
      <img src="assets/images/servicios/cbre_alquiler.jpg" width="100%" height="100%" />
    </div>
    <div class="bg-warning me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Diseño y Arquitectura</h2>
        <p class="lead">Desde el concepto inicial del diseño hasta la ejecución de la obra. Creamos espacios de trabajo atractivos, prácticos y representativos.</p>
      </div>
      <img src="assets/images/servicios/soluciones-home.jpg" width="100%" height="100%" />
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-warning me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Energía y Sostenibilidad</h2>
        <p class="lead">Te ayudamos a reducir costes y consumos energéticos. Contarás con una oficina eficiente y sostenible que cumpla los estándares de calidad más altos.</p>
      </div>
      <img src="assets/images/servicios/coworking.jpg" width="100%" height="100%" />
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Gestión de la ocupación
        </h2>
        <p class="lead">Medimos el uso del espacio, lo monitorizamos de forma continua para identificar oportunidades de ahorro.</p>
      </div>
      <img src="assets/images/servicios/venta.jpg" width="100%" height="100%" />
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Facility Management</h2>
        <p class="lead">Trabajamos para mejorar el día a día de tu oficina y convertirla en un espacio seguro, eficiente y agradable para tus empleados.</p>
      </div>
      <img src="assets/images/servicios/facility.jpg" width="100%" height="100%" />
    </div>
    <div class="bg-warning me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">WELL Services</h2>
        <p class="lead">Te ayudamos a mejorar el bienestar de los profesionales en los espacios de trabajo de una manera segura, eficiente y agradable.</p>
      </div>
      <img src="assets/images/servicios/wellservices.jpg" width="100%" height="100%" />
    </div>

  </div>
</main>